<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="details">Details: </label>
  <input type="text" name="task[details]" id="details">

  <label for="completed">Completed: </label>
  <input type="boolean" name="task[completed]" id="completed">

  <input type="submit">
</form> -->


<%= render 'form' %>
